//- blocks/colors
mixin item-colors(color, descr, value)
  .colors
    div(class!=attributes.color).colors__squares
    .colors__text
      .colors__text_bold=descr
      span=value

//- blocks/type
mixin item-type(blockNumber, blockText, textNumber, textText)
  .type
    div(class!=attributes.blockNumber).type__block.type_left-column
      span=blockText
    div(class!=attributes.textNumber).type_right-column
      span=textText

//- blocks/links
mixin column-links(name1, url1, name2, url2, name3, url3, name4, url4, name5, url5)
  .links
    nav
      ul
        li
          a(href=url1)=name1
        li
          a(href=url2)=name2
        li
          a(href=url3)=name3
        li
          a(href=url4)=name4
        li
          a(href=url5)=name5
