.links
  nav
    ul
      li
        a(href="link.html") Navigation
      li
        a(href="link.html") About Us
      li
        a(href="link.html") News
      li
        a(href="link.html") Support
      li
        a(href="link.html") Products
  nav
    ul
      li
        a(href="link.html") ABOUT US
      li
        a(href="link.html") Who we are
      li
        a(href="link.html") Our team
      li
        a(href="link.html") Careers
      li
        a(href="link.html") Investors
  nav
    ul
      li
        a(href="link.html") Support
      li
        a(href="link.html") Documentation
      li
        a(href="link.html") Community
      li
        a(href="link.html") Get in Touch

mixin column-links(href, name)
  .links
    nav
      ul
        li
          a(href=href)span=name
        li
          a(href=href)span=name
        li
          a(href=href)span=name
        li
          a(href=href)span=name
        li
          a(href=href)span=name
